<div class="container mb-3 text-end">
    <button class="btn btn-success" (click)="toggleFormulario()">
        {{ mostrarFormulario ? 'Ocultar formulario' : 'Crear Factura' }}
    </button>
</div>
<div class="container mb-4" *ngIf="mostrarFormulario">
    <h3 class="mb-3">Agregar factura</h3>
    <form [formGroup]="facturaForm" (ngSubmit)="enviarFactura()">
        <fieldset formGroupName="datosCliente" class="border p-3 mb-3">
            <legend>Datos del cliente</legend>
            <div class="row g-3">
                <div class="mb-3 col-md-6">
                    <label class="form-label">Nombre</label>
                    <input class="form-control" formControlName="nombre_cliente">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Apellido</label>
                    <input class="form-control" formControlName="apellido_cliente">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Teléfono</label>
                    <input class="form-control" formControlName="telefono_cliente">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Email</label>
                    <input class="form-control" formControlName="email_cliente">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Dirección</label>
                    <input class="form-control" formControlName="direccion_cliente">
                </div>
                <div class="mb-3 col-md-6">
                    <label class="form-label">Complemento</label>
                    <input class="form-control" formControlName="complemento_direccion">
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">País</label>
                    <select class="form-select" formControlName="pais_cliente">
                        <option value="" selected>Seleccione un país</option>
                        <option value="Colombia">Colombia</option>
                    </select>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Departamento</label>
                    <select class="form-select" formControlName="region_cliente" (change)="onDepartamentoChange()">
                        <option value="" disabled selected>Seleccione un departamento</option>
                        <option *ngFor="let dep of departamentos" [value]="dep">{{ dep }}</option>
                    </select>
                </div>
                <div class="mb-3 col-md-4">
                    <label class="form-label">Ciudad</label>
                    <select class="form-select" formControlName="ciudad_cliente">
                        <option value="" disabled selected>Seleccione una ciudad</option>
                        <option *ngFor="let ciudad of ciudadesFiltradas" [value]="ciudad">
                            {{ ciudad }}
                        </option>
                    </select>
                </div>
            </div>
        </fieldset>

        <fieldset class="border p-3 mb-3">
            <legend>Productos</legend>

            <div formArrayName="productos">
                <div *ngIf="productos.length === 0" class="alert alert-warning">
                    No hay productos agregados
                </div>
                <div *ngFor="let p of productos.controls; let i = index" [formGroupName]="i"
                    class="row g-2 mb-2 align-items-center">

                    <div class="col-md-6">
                        <label class="form-label">Producto</label>
                        <select class="form-select col" formControlName="id_producto">
                            <option value="" disabled selected>
                                Seleccione un producto
                            </option>
                            <option *ngFor="let prod of productosDisponibles" [value]="prod.id">
                                {{ prod.nombre_producto }} (Stock: {{ prod.stock_producto }})
                            </option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Cantidad</label>
                        <input class="form-control col" placeholder="Cantidad" type="number"
                            formControlName="cantidad_producto" min="1" step="1">
                    </div>
                    <div class="col-md-2 align-items-end">
                        <label class="form-label d-block">&nbsp;</label>
                        <button type="button" class="btn btn-danger w-100" (click)="eliminarProducto(i)">
                            Eliminar
                        </button>
                    </div>
                </div>
            </div>

            <button type="button" class="btn btn-secondary mt-2" (click)="agregarProducto()">
                + Agregar producto
            </button>
        </fieldset>

        <div class="row g-3 mb-3">
            <div class="mb-3 col-md-6">
                <label class="form-label">Tipo de precio</label>
                <select class="form-select" formControlName="tipo_precio">
                    <option value="mayor">Precio al por mayor</option>
                    <option value="detal">Precio al detal</option>
                </select>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Método de pago</label>
                <input class="form-control" formControlName="metodo_pago">
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Subtotal</label>
                <input class="form-control" type="number" formControlName="subtotal" readonly>
            </div>
            <div class="mb-3 col-md-6">
                <label class="form-label">Precio de envío</label>
                <div class="alert alert-info mb-3">
                    {{ facturaForm.get('precio_envio')?.value | currency:'COP' }}
                </div>
            </div>
        </div>

        <button class="btn btn-success w-100">
            Crear factura
        </button>
    </form>

    <div *ngIf="resultado" class="alert alert-success mt-4">
        <strong>Factura creada:</strong><br>
        ID: {{ resultado.id_factura }}<br>
        Valor total: {{ resultado.valor_total | currency }}<br>
        Valor pagado: {{ resultado.valor_pagado | currency }}<br>
        Precio envío: {{ resultado.precio_envio | currency }}
    </div>
</div>