<div class="container">

    <div *ngIf="loading" class="text-center my-4">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Cargando</span>
        </div>
    </div>

    <div *ngIf="!loading" class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <div>
            Mostrando {{ (paginaActual - 1) * itemStocksPorPagina + 1 }} -
            {{ calcularFin() }}
            de {{ stocks.length }} registros
        </div>

        <nav aria-label="Navegación">
            <ul class="pagination mb-0">
                <li class="page-item" [class.disabled]="paginaActual === 1">
                    <a class="page-link" (click)="paginaAnterior();" style="cursor: pointer;">Anterior</a>
                </li>

                <li class="page-item" *ngFor="let pagina of numPaginas" [class.active]="pagina === paginaActual">
                    <a class="page-link" (click)="cambiarPagina(pagina)" style="cursor: pointer;">
                        {{ pagina }}
                    </a>
                </li>

                <li class="page-item" [class.disabled]="paginaActual === paginasTotales">
                    <a class="page-link" (click)="paginaSiguiente()" style="cursor: pointer;">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>

    <table *ngIf="!loading" class="table table-striped">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">ID producto</th>
                <th scope="col">Producto</th>
                <th scope="col">Cantidad producto</th>
                <th scope="col">Fecha</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let stock of stocksPorPagina">
                <td>{{ stock.id_producto_stock }}</td>
                <td>{{ stock.id_producto }}</td>
                <td>{{ stock.nombre_producto }}</td>
                <td>
                    <span [class.text-danger]="stock.cantidad_producto === 0"
                          [class.fw-bold]="stock.cantidad_producto === 0">
                        {{ stock.cantidad_producto }}
                    </span>
                </td>
                <td>{{ stock.fecha_insercion }}</td>
                <td>
                    <button
                        *ngIf="stock.cantidad_producto === 0"
                        class="btn btn-danger btn-sm"
                        (click)="eliminarLote(stock.id_producto_stock!)"
                        [disabled]="loadingEliminar[stock.id_producto_stock!]">
                        Borrar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>

    <div *ngIf="!loading" class="d-flex justify-content-between align-items-center mt-3 mb-3">
        <div>
            Mostrando {{ (paginaActual - 1) * itemStocksPorPagina + 1 }} -
            {{ calcularFin() }}
            de {{ stocks.length }} registros
        </div>

        <nav aria-label="Navegación">
            <ul class="pagination mb-0">
                <li class="page-item" [class.disabled]="paginaActual === 1">
                    <a class="page-link" (click)="paginaAnterior();" style="cursor: pointer;">Anterior</a>
                </li>

                <li class="page-item" *ngFor="let pagina of numPaginas" [class.active]="pagina === paginaActual">
                    <a class="page-link" (click)="cambiarPagina(pagina)" style="cursor: pointer;">
                        {{ pagina }}
                    </a>
                </li>

                <li class="page-item" [class.disabled]="paginaActual === paginasTotales">
                    <a class="page-link" (click)="paginaSiguiente()" style="cursor: pointer;">Siguiente</a>
                </li>
            </ul>
        </nav>
    </div>
</div>